body {
	max-width: 400px;
	min-height: 400px;
	padding: 2%;
	border: 3px solid blue;
}

.container {
	min-width: 90%;
	min-height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;


}

.card {
	max-height: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border: 3px solid rgb(192, 242, 255);
	padding: 2%;
	
}

.card > h2 {
	align-self: center;
	color: red;
	text-decoration: underline rgba(39, 38, 38, 0.295);
	text-align: center;
	order: 1;
}

.card-single {
	height: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around; */
	border: 2px solid rgb(31, 29, 29);
	padding: 2%;
	align-self: center;
	order: 1;

}

.card-single>h3 {
	padding: 2%;
	border-style: outset;
}

.questionNum {
	padding: 2%;
	
}


.card-face-front {
	display: flex;
	flex-direction: column;
	padding: 2%;
	color: rgb(255, 128, 105);
	order: 2;
}

.card-face-front>#btn {
	align-self: center;
	width: 30%;
}

.card-face-back {
	width: 30%;
	height: ;
	display: flex;
	flex-direction: column;
	border: 2px;
	padding: 2%;
	align-self: center;
	order: 2;
}


 
.card-face-back> h3 {
	padding: 2%;
	border-style: outset;
}

.returnTo {
	align-self: center;
	width: 40%; 
 }

/* =========================================================
=========================================================
=========REFERENCES FOR BASIC CSS========================
=========================================================
=========================================================
https://www.w3schools.com/css/tryit.asp?filename=trycss_border-style
https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */